
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Calculation">Calculation</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link contact" href="Contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link GuestBook" href="GuestBook">GuestBook</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>linkedin</h2>
            <p><a href="https://www.linkedin.com/in/sai-mohan-b8582a113/">
              <img border="0" alt="linkedin" src="https://image.flaticon.com/icons/png/512/174/174857.png" width="50" height="50"></a></p></p>
          </div>
          <div class="col-md-4">
                <h2>instagram</h2>
                <p><a href="https://www.instagram.com/saimohan17/">
                  <img border="0" alt="instagram" src="https://instagram-brand.com/wp-content/uploads/2016/11/app-icon2.png" width="50" height="50"></a></p></p>
              </div>
          <div class="col-md-4">
            <h2>gitHub</h2>
            <p><a href="https://github.com/saimohan17">
              <img border="0" alt="gitHub" src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" width="50" height="50"></a></p>
         </div>
          <div class="col-md-4">
            <h2>bitBucket</h2>
            <p><a href="https://bitbucket.org/dashboard/overview">
              <img border="0" alt="bitBucket" src="https://cdn3.iconfinder.com/data/icons/inficons/512/bitbucket.png" width="50" height="50">
              </a></p>
              <center>
              <div class="container">
                      <div class="row">
                        <div class="col-md-4">
                            
                          
                        </div></center>
                        <form class="form-horizontal">
                                <div class="form-group">
                                  <label for="exampleInputName2">Name</label>
                                  <input type="text" class="form-control" id="exampleInputName2" placeholder="">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputEmail2">Email</label>
                                  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                                </div>
                                <div class="form-group ">
                                  <label for="exampleInputText">Your Message</label>
                                 <textarea  class="form-control" placeholder="Description"></textarea> 
                                </div>
                                <button type="submit" class="btn btn-default">Send Message</button>
                              </form>