<Html>
<head>
         <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
         <link rel="stylesheet" href="/css/A02.css">
</head>

<body background = "/images/pattern1.jpg" border-radius = 50px>   
<div class="container" >
      <nav class="navbar navbar-expand-lg navbar-light bg-light navbarwidth">
            <a class="navbar-brand" href="#">Sri Ram Teja Komerisetti</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="A02.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Calculator.html">Calculation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="About.html">Contact</a>                   
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/index">GuestBook</a>                   
                </li>                
                
              </ul>
            </div>
          </nav>
          <br>
          <br>
          <br>
          <br>
          <div class = "row">
          <div class="col-md-3">
            <img class = "image" src="/images/profile.jpg" alt="profile" height="150" width="150">
            <div >
			
              
              <h1>About Me</h1>
              <p></p>
              <h3>My BackGround: </h3>
              I Completed my undergraduate degreee in computer Science at Koneru Lakshmiah University,India
              </div>
        
              <div>
              <h3> Current Status </h3>
              <p> Currently pursuing my masters in Applied Computer Science at NorthWest Missouri State University. </p> 
              </div>
              <div>
              <h3>My Goals</h3>
               <li> Wants to be a good programmer in java and python</li>
               <li> As I am so much intrigues about the hadoop course, with two years i want to be a good professional in hadoop and working as a Hadoop Administrative.</li>
               <li> Intrested to work on the Data science projects</li>   
              </div>  
              
              <div>
                <iframe  class = "video" width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
              </div>
            
          </div>
          <div class="col-md-3">
              <a href="https://bitbucket.org/";>
              <img class="bitbucket" alt="bitbucket" src="/images/bitbucket.jpg" width="100" height="120">
              </a>
            </div> 
            <div class="col-md-3">
              <a href="https://github.com/";>
                <img class="git-hub" alt="github" src="/images/git.jpg" width="80" height="100">
                </a>
              </div>
              <div class="col-md-3">
              <a  href="https://www.linkedin.com/";>
                <img class="linkedin" alt="linkedin" src="/images/in.jpg" width="80" height="100">
                </a>
              


              </div>  
              </div>
            
          
        <footer>
        
            <p>Posted by: Sri Ram Teja Komerisetti</p>
      
            </footer>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
    </div>
    </body>
</Html>