<!DOCTYPE html>
<html>
<head> 
<link rel="stylesheet" href="/css/A03.css"/>
  </head>
  
  
  <body background = "/images/pattern1.jpg" border-radius = 50px>   
		<section = "container">
			<div class="left">
			<img src="/images/PicsArt_01-19-02.23.34.jpg" alt="Avatar" style="width:100px">
			<div><header><h1>About ME....</h1></header></div>
    <div class="article">
	<article>
	<section>
	<headers>
     <b>Current :</b></headers><p> I am pursuing my Master's in Applied Computer Science of the batch, Spring 2018.</p></section>
	 <section>
	 <headers>
      <b>Background :</b></headers><p>I am from Hyderabad, India. I finished my Bachelor's degree in Computer Science from Vignan Institute of Technology and Science in May 2017.</p></section>
      <section><headers><b>Plans :</b> </headers><p>Once I complete my graduation I wanted to work as a Data Analyst in one of the reputed company.</p></section>
	  </article>
    
	</div>
    <div class="aside"><aside>
      <headers><h1>Hobbies and Area's of Interest</h1></headers>
      <p><b>Hobbies :</b> Playing Cricket and Badminton</p>
      <p><b>Programming Languages :</b>C , C++ , JAVA ,PYTHON ,.NET , ORACLE</p></aside>
    </div>
		  </div>
		  
		  
		  
		  
 </section>
  <div align="right">
  <br><br><br><br><br><br><br><br>
      <iframe width="500" height="315" src="https://www.youtube.com/embed/YeYXeoYXZwY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
 
  <footer id="footer" color= "blue">Copyright &copy; Satya Phani Shyam Appasani</footer>
</body>
</html>