<li class="dropdown-submenu">
  <a href="#">2017 Fall Web Apps Section 01<span class="caret"></span></a>
  <ul class="dropdown-menu">
     <li class="dropdown-submenu">
      <a href="/about/t13">Team 13 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t12/a">Satya Phani Shyam Appasani</a></li>
        <li><a href="/about/t12/b">Naga Ravi Teja Sai Mohan Vummidi</a></li>
        <li><a href="/about/t12/c">Sri Ram Teja Komerisetti</a></li>
      </ul>
    </li>
   
  </ul>
</li>