<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sai Mohan</title>
        <link href="/css/index.css" rel="stylesheet" type="text/css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
      <link rel="stylesheet" href="../../css/main.css">
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
      <link rel="apple-touch-icon" sizes="57x57" href="../../images/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="../../images/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="../../images/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="../../images/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="../../images/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="../../images/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="../../images/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192" href="../../images/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="../../images/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon-16x16.png">
      <link rel="manifest" href="../../images/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="../../images/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sai Mohan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Calculation">Calculation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link contact" href="Contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link contact" href="GuestBook">GuestBook</a>
        </li>
      </ul>
    </div>
  </nav> -->
        </head>
        <body>
            
         
            
               
                <div class="container-fluid">
            <header>

               
            
                <div class="details">
                        <div class="bio">
                    <div id="image1">
                    <img  src="https://instagram.fcou1-1.fna.fbcdn.net/vp/aa70e8c1b5e5f58831681009c2cfc86f/5B0B1904/t51.2885-19/s150x150/26871000_1430433847085308_6048995685867454464_n.jpg" >
                
                </div>
                    
                    <ul id="personal">
                    <ul>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sai Mohan</ul>
                    <ul>DOB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 20-10-1995</ul>
                    <ul>Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 7382968119</ul>
                    <ul>Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;322,N.Walnut,Maryville,MO</ul>
                    <ul>email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nrtsaimohan@gmail.com</ul>
                   
                </div>
            </div>
            </header>

            <div class="row">
                    <div class="col-md-8">
                            <h3>About me: </h3>
            <h5 >I'm Sai Mohan</h5>
                <p class="about">I am currently pursuing masters in Applied Computer in Northwest Missouri State University in Maryville and this is my first semester.I am from Tanuku, Andhra Pradesh, India. I have done my graduation in Mechanical Engineering from Vellore Institute 
                        of Technology in Vellore in May 2017. I want to work as a <b><em>Software developer</em></b> in a next couple of years.My hobbies are Playing Cricket, listening music.I like learning new things.I also like reading Self-help and financial books. </p>
                    </div>
                <div class="col-md-4">
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/6mOOTnLaLNA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            
            </div>
        </body>
        <footer><em>Thank you,</em></footer>
</html>