.image{
    /* float:left;
    margin-top: 10%;
    margin-left: 5%; */
    border-radius: 50%; 
}
.video{
    margin-left: 10%;
    margin-top: 3%;
}
/* .facebook{
    margin-left: 900px;
    margin-top: 2x;
    float: left;
}
.twitter{
    margin-left: 70%;
    margin-top: 0%;
} */
li{
    display: inline;
}

li {
    float: left;
}
li a {
    display: block;
    color: rgb(24, 22, 22);
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(10, 150, 115);
}
 
/* .navbarwidth{
    width: 100%;
    margin: 50px;
    float: right;
    margin-right: 0%;
    margin-top: 0%;
    border-radius:0px;
     
}  */
body {
    font:normal 12px/1.6em Arial, Helvetica, Times New Roman;
    	color:#2a3845;
	margin:0;
	padding:0;
    
    background : "image01.jpg";
}

p {
	margin:0;
	padding:0;
}

#wrapper {
	margin:0 auto;
	width:632px;
	/*border-left:1px solid #f0e9eb;
	border-right:1px solid #f0e9eb;*/
}
.credit_card-image{
    margin-left: 900px;
    margin-bottom: 700px;
     
}

h2{
    margin-left: 600px;
    font-family: "Times New Roman", Times, serif;
        
}
.forms{
    margin-left: 200px;
    font-size: 20px;
}
h1{
    /*margin-left: 400px;*/
    font-family: "Times New Roman", Times, serif;
        
}

footer { 
    display: block;
    font-size: 20px;
    color:#06335e;    
    font-weight: bold;

} 