<br/>
<br/>
<h2>pilot details</h2>
<br/>
<br/> ID:
<%=  pilot._id %>
  <br> firstName:
  <%=pilot.firstName%>
    <br/> lastName:
    <%=pilot.lastName%>
      <br/> hoursFlown:
      <%=pilot.hoursFlown%>
      <br/> isCurrent:
      <%=pilot.isCurrent%>
            <br/>
            <br/>
            <form method="get" action="/pilot">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>