<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="flight/create" class="btn btn-primary new">
        Create a new flight
      </a>
      <h2>Recent flight entries</h2>
      <p>There are
        <%= flights.query.length %> flights.
          <br/>
      </p>
      <table class="table table-dark">
        <tr>
          <td>ID</td>
          <td>NAme</td>
          <td>Starting point</td>
          <td>Ending point</td>
          <td>Starting time</td>
          <td>Duration</td>
          <td>Pilot Id</td>
          <td>Plane Id</td>
          <td>Further Details</td>
        </tr>
      <% for (var i = flights.query.length-1; i >= 0; i--) {   
        flight = flights.query[i];   %>
        <tr>
          <td><%=  flight._id %></td>
          <td><%=flight.name%></td>
          <td><%=flight.startingPoint%></td>
          <td><%=flight.endingPoint%></td>
          <td><%=flight.startingTime%></td>
          <td><%=flight.durationHours%></td>
          <td><%=flight.pilotId%></td>
          <td><%=flight.planeId%></td>
          <td>
            <a href="/flight/delete/<%= flight._id  %>" class="btn btn-danger"> Delete </a>
            <a href="/flight/details/<%= flight._id %>" class="btn btn-info"> Details </a>
            <a href="/flight/edit/<%= flight._id %>" class="btn btn-warning"> Edit </a>
          </td>
        </tr>
                          
          </div>
        </div>
        <% } %>
      </table>
    </div>
  </div>
</div>