<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="name">tailNumber</label>
      <input type="text" class="form-control" id="tailNumber" name="tailNumber" value="<%= plane.tailNumber %>" required>
    </div>
    <div class="form-group">
      <label for="type">numSeats</label>
      <input type="number" class="form-control" id="numSeats" name="numSeats" value="<%= plane.numSeats %>">
    </div>
    <div class="form-group">
      <label for="ticket_type">fuelCapacity</label>
      <input type="number" class="form-control" id="ticket_type" name="fuelCapacity" value="<%= plane.fuelCapacity %>" >
    </div>
  </div>
</div>



<br/>
<br/>
